<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
        <!-- File appender configuration -->
        <File name="MyFile" fileName="logs/app-${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
<!--            For console-->
            <AppenderRef ref="console" />
<!--            For log file-->
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>